#icon {
    max-width: 60px;
    max-height: auto;
    margin-right: 15px;
}

#title {
    margin-bottom: 0px;
}

header {
    background-color: #FA8258;
    padding: 20px 50px 20px 50px;
    margin: 10px;
    text-align: center;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center
}

body {
    background-image: url('/images/background.jpeg');
}